
<!DOCTYPE html>
<html>
  <style>
    table, th, td {
      border-bottom:1px solid rgb(129, 128, 128);
    }
    </style>
  <head>
    <title>Cicero User Data</title>
  </head>
  <body>
    <h1>Bojonegoro Data Tables</h1>
    
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Dropdown button
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </div>

    <table>
      <tr>
        <th>NO</th>
        <th>ID_KEY</th>
        <th>NAMA</th>
        <th>PANGKAT</th>
        <th>JABATAN</th>
        <th>SATFUNG</th>
        <th>WHATSAPP</th>
        <th>INSTAGRAM</th>
        <th>TIKTOK</th>
      </tr>

      <% 

        for (var i = 0; i < data.length; i++) { 
          %>
            <tr>
              <td><%= i+1 %></td>

              <td><%= data[i].ID_KEY %></td>
              <td><%= data[i].NAMA %></td>
              <td><%= data[i].TITLE %></td>
              <td><%= data[i].JABATAN %></td>
              <td><%= data[i].DIVISI %></td>
              <td><%= data[i].WHATSAPP %></td>
              <td><%= data[i].INSTA %></td>
              <td><%= data[i].TIKTOK %></td>
            </tr>    
          <%
        }       
      %>
    </table>
  </body>
</html>
